<!DOCTYPE html>
<html ng-app="Chores">

<head>
	<base href="/">
</head>

<body ng-controller='AppController as AppCtrl'>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Chores</a>
			<span>
				<ul ng-show="AppCtrl.loggedIn && AppCtrl.user.Role=='Parent'" id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="Approve">Approve</a></li>
					<li><a href="History">History</a></li>
					<li><a href="Settings">{{AppCtrl.user.Firstname}}</a></li>
				</ul>
				<span class="right">
					<button class="btn waves-effect waves-light" ng-if="!AppCtrl.loggedIn" ng-click="AppCtrl.logIn()" name="action">Log In</button>
					<button class="btn waves-effect waves-light" ng-if="AppCtrl.loggedIn" ng-click="AppCtrl.logOut()" name="action">Log Out</button>
				</span>
			</span>
		</div>
	</nav>
	<section ng-view id="main"></section>
	<link rel="stylesheet" type="text/css" href="./Styles/Site.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<script src="./Dependencies/firebase.js"></script>
	<script src="./Dependencies/angular.min.js"></script>
	<script src="./Dependencies/angular-animate.min.js"></script>
	<script src="./Dependencies/angular-touch.min.js"></script>
	<script src="./Dependencies/angularfire.min.js"></script>
	<script src="./Dependencies/angular-route.min.js"></script>
	<script src="./Dependencies/angular-cookies.min.js"></script>
	<script src="./Dependencies/angular-modal-service.min.js"></script>
	<script src="./Release/App.js"></script>
</body>

<footer></footer>

</html>