<div>
	<ul class="collection">
		<li class="collection-item" ng-repeat="chore in ApprovalCtrl.chorelist" chore="chore">
				<h5>{{chore.Name}}</h5>
				<span>Due: {{chore.Due | date:'EEE MM-dd-yy'}}</span>
				<span class="secondary-content">
					<input type="checkbox" class="filled-in" id="{{$index}}" ng-checked="{{chore.completed}}"/>
					<label for="{{$index}}"></label>
				</span>
		</li>
	</ul>
	<button class="btn waves-effect waves-light" ng-click="ApprovalCtrl.approve()" name="action">Approve all</button>
</div>