<div class="card">
	<div class="card-content">
		<ul class="collection">
			<li class="collection-item" ng-repeat="(key,value) in ChoreHistoryCtrl.historyList" template="t">
				<span class="title"> {{::key}} </span>
				<span class="secondary-content">
					<input type="checkbox" class="filled-in" id="{{::$index}}0" disabled="true" ng-model="value.Completed"/>
					<label for="{{::$index}}0">Signed</label>
					<input type="checkbox" class="filled-in" id="{{::$index}}1" ng-model="value.Paid"/>
					<label for="{{::$index}}1">Paid</label>
				</span>
			</li>
		</ul>
		<!--<button class="btn waves-effect waves-light" ng-click="CTListCtrl.save()" name="action">Save changes</button>-->
	</div>
</div>