<div id="modal1" class="modal" style="display:block;">
  <div class="modal-content">
    <h4>Login</h4>
    <input id="email" type="email" placeholder="email@example.com"></input>
    <label for="email">Email</label>
    <input type="password" id="password" placeholder="password"></input>
    <label for="password">Password</label>
  </div>
  <div class="modal-footer">
    <a href="#!" ng-click="close()" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>