html {
  font-family: sans-serif; 
}
  
ul {
  list-style-type: none;
  width: 70%;
}

ul li {
  border-bottom: 1px solid lightsteelblue;
}
  
ul li div {
  padding: 5px;
  display: inline;
}

ul li .lititle {
  font-weight: bold;
}

form {
  display: inline;
}

input {
  border-radius: 2px;
  border: brown;
}

.listheader {
  color: firebrick;
  font-weight: 600;
}